.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.main-layout {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
}

/* Sidebar */
.sidebar {
  width: 280px;
  background: var(--bg-panel);
  backdrop-filter: blur(var(--backdrop-blur));
  -webkit-backdrop-filter: blur(var(--backdrop-blur));
  border-right: var(--glass-border);
  display: flex;
  flex-direction: column;
  padding: 12px 12px 0px;
  gap: 12px;
  transition: transform 0.3s ease;
}

.sidebar-header h2 {
  margin: 0 0 16px 0;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: var(--text-gradient-brand);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  user-select: none;
}

/* Main Content Structure */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.content-scroll-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0px 40px 10px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  height: 100%;
}

.top-bar {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 40px;

  padding: 24px 0 20px 10px;

  border-bottom: var(--glass-border);

  position: sticky;

  top: 0;

  background: rgba(var(--bg-app), 0.5);

  background: var(--bg-panel);

  background-image: radial-gradient(
    circle at 50% 0%,
    var(--gradient-overlay-1) 0%,
    transparent 70%
  );

  backdrop-filter: blur(12px);

  -webkit-backdrop-filter: blur(12px);

  z-index: 110;

  margin-top: -40px;

  padding-right: 10px;

  margin-right: 10px;

  padding-top: 40px;

  width: calc(100% + 80px);

  margin-left: -40px;
}

.top-bar h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
  background: var(--text-gradient-main);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: text;
  transition: all 0.2s;
}

.project-select-wrapper {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  gap: 8px;
  align-items: center;
}

/* Sidebar Search Wrapper */
.sidebar-search-wrapper {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}
.sidebar-search-wrapper input {
  flex: 1;
}

.card-list::-webkit-scrollbar {
  width: 4px;
}
